.server{
    display: flex;
    color: #fff;
    background: linear-gradient(110deg,transparent 25%,#020230 25%);
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 20px 0;
}
.image{
    width: 500px;
    object-fit: contain;
}
.server-info{
    width: 600px;
    display: grid;
    gap: 20px;
}

.server-info h3{
    font-size: 30px;
}
.server-info p{
    font-size: 20px;
    line-height: 22px;
}
.button{
    padding: 10px 35px;
    font-size: 18px;
    border-radius: 5px;
    width: 200px;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
    border: none;
    background-color: #ff4646;
    border: 1px solid #ff4646;
}
.button:hover{
    color: #ff4646;
    background-color: transparent;
}
@media screen and (max-width: 840px) {
    .server{
        background: #020230;
    }
}

@media screen and (max-width: 640px) {
    .image{
        height: 400px;
        width: 400px;
    }
    .server-info{
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .image{
        height: 300px;
        width: 300px;
    }
    .server-info{
        width: 300px;
    }

}